// Formato inicial
* {
    padding: 0px;
    margin: 0px;
}

//vinculos
.header3 {
    color: white;
    background: linear-gradient(45deg, #1d91e0, #191166);
    height: 90px;
    display: flex;
    align-items: center;
    .header3-container {
        width: 100%;
        @media (min-width: 600px) {
            display: flex;
            justify-content: space-between;
        }
        .logo3 {
            @media (min-width: 600px) {
                padding-left: 40px;
            }
            @media (max-width: 600px) {
                padding: 10px;
                display: flex;
                justify-content: center;
            }
            img{
                @media (max-width: 600px) {
                    width: 30px;
                }
            }
        }
        .nav3 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            @media (min-width: 600px) {
                width: 80%;
            }
            @media (max-width: 600px) {
                // width: 100%;
                position:fixed;
                flex-direction: column;
                left: -100px; //sacamos hacia arriba de la pantalla
            }
            .a3 {
                color: white;
                outline: none;
                text-decoration: none;
                font-weight: 600;
            }
            .a3:hover,
            .a3:active,
            .a3:focus {color: rgb(104, 140, 199);}
        }
        .menu3{
            @media (min-width: 600px){
                cursor: pointer;
                display: none;//para que no se muestre
                .a3.show{
                    top: 65px;
                }
            }
            @media (max-width: 600px){
                display: inline-flex;//para que no se muestre
            }
            .btn_menu3{
                
            }
        }
        
        
    }
}

